@media screen and (max-width: 576px) {
    header, .banner-content, .habit-cards, .run, .BMI-container, .footer-content,.Order-cards, .row-1, .row-2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto
    }
    .banner-content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto
    }
    #navbar{
        width: 95%;
        margin: 0 auto;
   }

   .ul , .hide{
    display: none;
    }

    .hamburger{
        display: block;
    }

    .run{
        margin: 0, auto;
    }
    form{
        max-width: 360px;
        gap: 15px;
    }
    .form input{
        max-width: 120px
    }

/* main-footer section*/
.footer-content{
    display: flex;
    gap: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.footer-text, .started{
    margin-left: 1.5rem;

}
.tutorial-btn{
    position: absolute;
    left: -1.8rem;
}
.workout-btn{
    position: absolute;
    top: 5rem;
    left: 11rem;
}

.row-1, .row-2{
    gap: 10px;
}

}
