@media screen and (max-width: 576px) {
    header, .banner-content, .habit-cards, .run, .BMI-container, .footer-content,.Order-cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto
    }
    .banner-content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto
    }
    #navbar{
        width: 95%;
        margin: 0 auto;
   }

   .ul{
    display: none;
    }

    .hamburger{
        display: block;
    }

    .run{
        margin: 0, auto;
    }
    form{
        max-width: 360px;
        gap: 15px;
    }
    .form input{
        max-width: 120px
    }
    #tutorial{
        display: flex;
        align-items: center;
        gap: 10px;
        background-color: rgba(48, 48, 48, 0.54);
        backdrop-filter:blur (20px);
        transform: scale(1);
        border: 1px solid rgba(48, 48, 48, 0.54);
        border-radius: 12px;
        padding: 20px 23px 20px 23px;
        position: absolute;
        /* margin-left: -6rem;
        margin-top: -10rem; */
        bottom: -28rem;
        right: 13rem ;
}

/* main-footer section*/
.footer-content{
    display: flex;
    gap: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.footer-tect, .started{
    margin: .5rem;
}

}